/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Common */
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 80%;
	margin: auto;
}

header{
    height: 140px;
    background-color: blanchedalmond;
    margin-bottom: 30px;
}

.section-top{
    height: 490px;
    background-color: coral;
}